.header_bg {
  background-image: url("../images/skyline.png");
  background-repeat: no-repeat;
  min-height: 166px;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
}

@media only screen and (max-width: 640px) {
  .search-box:hover > .search-txt {
    width: 240px;
    padding: 0px, 0px, 4px, 0px;
    margin: 0px, 0px, 4px, 0px;
  }

  .search-box:hover > .search-btn {
    background: white;
  }
}
@media only screen and (min-width: 641px) {
  .search-txt {
    width: 240px;
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 24px;
    text-align: center;
    transition: 0.4s;
    line-height: 40px;
    padding: 0px, 0px, 4px, 0px;
  }
}
.submit_button {
  position: absolute;
  top: 40%;
  left: 60%;
  padding: 5px;
  margin: 10px;
}

.login_button {
  position: absolute;
  top: 60%;
  left: 70%;
  margin: 10px;
}

.display_none {
  display: none;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

@media only screen and (max-width: 640px) {
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 24px;
    text-align: center;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    padding: 0px, 0px, 4px, 0px;
  }
  .search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
  }
}
