@import "variables";

@import "functions";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $catamaran;
  font-weight: bold;
}

#localeyes_logo {
  width: 275px;
  border-radius: 50%;
  border: color(primary) 3px solid;
  margin: 50px;
  @include mobile {
    width: 200px;
    margin: auto;
  }
}

.mr-auto {
  @include mobile {
    width: 100%;
  }
}

#fun_area {
  text-decoration: none;
  padding: $padding;
  display: block;
  background: linear-gradient(
    to bottom right,
    color(lighter),
    color(verylightyellow)
  );
  height: 500px;

  @include mobile {
    overflow: auto;
    height: auto;
  }
  h1 {
    float: left;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    @include tablet {
      animation-name: none;
    }
    @include mobile {
      animation-name: none;
      float: none;
      width: 100%;
      display: block;
    }
  }
}

@keyframes heading {
  0% {
    top: -50px;
  }
  100% {
    top: 140px;
  }
}

@-webkit-keyframes heading {
  from {
    top: -50px;
  }
  to {
    top: 140px;
  }
}

/* Standard syntax */
@keyframes heading {
  from {
    top: -50px;
  }
  to {
    top: 140px;
  }
}

#intro_info {
  margin: auto;
  float: left;
  width: 40%;
  right: 50%;
  left: 50%;
  padding: 20px;
  font-size: 18px;
  @include mobile {
    float: none;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.search-box {
  float: clear both;
  position: absolute;
  top: 75%;
  left: 76%;
  background: color(dark);
  height: 40px;
  border-radius: 40px;
  width: 200px;
  padding: 5px, 0;

  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    line-height: 40px;
    width: 200;
    text-align: center;
    font-size: 24px;
    padding: auto;
  }

  @include tablet {
    display: inline;
  }

  @include mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.button {
  width: 200px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  margin: 40px;
  border-radius: 40px;
  background-color: color(primary);
  padding: 5px 0;
}

#submit_zip {
  @extend .button;
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  @include tablet {
    display: inline;
  }

  @include mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

#submit_zip:hover {
  background-color: color(darker);
  color: color(light);
  width: 240px;
}

#login_button {
  @extend .button;
  position: absolute;
  top: 30%;
  left: 80%;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  @include tablet {
    display: inline;
  }

  @include mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

#login_button:hover {
  background-color: color(darker);
  color: color(light);
  width: 240px;
}

#logout_button {
  @extend .button;
  position: absolute;
  top: 30%;
  left: 80%;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  @include tablet {
    display: inline;
  }

  @include mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

#logout_button:hover {
  background-color: color(darker);
  color: color(light);
  width: 240px;
}

.display_none {
  display: none;
}

#footer {
  width: 100%;
  background-color: color(verylightyellow);
}
